@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤을 없앱니다. */
::-webkit-scrollbar {
  display: none;
}

* {
  @apply font-Pretendard;
}

/* input 숫자 화살표를 없앱니다. */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  resize: none;
}

/* 배너 캐러셀 */
.bannerSwiper {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 300px;
  @apply bg-af-darkGray;
}

/* 디테일 페이지 캐러셀 */
.detailSwiper {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 300px;
  background-color: white;
}

.swiper-slide {
  height: 100%;
  text-align: center;
  font-size: 18px;
  /* @apply bg-af-darkGray; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ListBox 사진 그라데이션 */
.list-box::before {
  content: ""; /* create a pseudo-element for the gradient */
  position: absolute; /* position the gradient within the div */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  @apply rounded-lg;
}

/* 이미지 모달 zoom-panch 확대시 최대로 보이게함 */
.react-transform-wrapper {
  overflow: visible !important;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate-custom-ping {
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}
